@import "tailwindcss";

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Hide scrollbar in WebKit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}
